*access_token*.json
*.pyc
*.csv
.env
*.pkl
# python cache files
*pycache__
docker-compose.override.yml
credential/*
!.keep
pagesort/rsconnect/*
.DS_Store
.httr-oauth
*.html
*.dcf
httr-oauth
*.gz
test/.Rapp.history
*.xls
*.xml
local-prod.env
local-test.env
.spyproject/
.pytest_cache/
secrets.env
data/*
wal/*
meta/*
vars/build/local/local.env
vars/env/local/local.env
.idea/*
